<a routerLink="/spellView/{{ spell['id'] }}">
    <div class="container border">
        <div class="row">
        <div class="col">
            Name: {{  spell['name'] }}
        </div>
        <div class="col">
            Level: {{ spell['level']}}
        </div>
        </div>
        <div class="row">
        <div class="col">
            Casting time: {{ spell['castingTime'] }}
        </div>
        <div class="col">
            School: {{ spell['school']['name'] }}
        </div>
        </div>
    </div>
</a>