<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">DM Helper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/monsters">Monsters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/spells">Spells</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/creatMonster">Create Monster</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#dice">Dice Roller</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Encounters
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Build Encounter</a>
            <a class="dropdown-item" routerLink="/viewEncounters">Run Encounters</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
      </ul>
      <form *ngIf="!loggedIn"class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signUp">Sign Up</a>
          </li>
        </ul>
        </form>
    </div>
  </nav>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Encounter</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div  class="form-group">
              <label for="name">Encounter Name</label>
              <input #name class="form-control" id="name">
            </div>
          <select class="form-control" (change)="updatePlayerNumber(numPlayers.value)"  #numPlayers>
            <option *ngFor="let num of getNums()" value="{{ num }}">{{ num }}</option>
          </select>
          <div *ngFor="let num of getPlayNumbers()" class="form-group">
            <label for="player{{ num }}">Player {{ num + 1 }}: Name</label>
            <input (change)="saveName(num, $event.target.value)" class="form-control" id="player{{ num }}">
          </div>
          <hr>
          <div>
            <label class="form-group" for="enc-note">Notes:</label>
            <textarea #note class="form-control" id="enc-note"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button (click)="saveEncounter(name.value, note.value)" type="button" class="btn btn-primary" data-dismiss="modal">Save Encounter</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="dice" tabindex="-1" role="dialog" aria-labelledby="dice" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Roll Dice</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div>
              <button (click)="resetDiceRoller()" style="background-color: red" class="btn btn-primary">Reset Dice</button>
            </div>
            <label for="typesNum">How many types of die do you want?</label>
            <input id="numTypesDie" min="1" #numTypes value="1" (change)="buildNumOfDies(numTypes.value)" class="form-control" name="typesNum" type="number">
          </div>
          <h4>Amount and type of die</h4>
          <div *ngFor="let num of getNumder(); let i = index">
            <input id="num-{{ num }}" class="type" (change)="changeAmountDie($event.target.value, i)" type="number" min="1" value="1">
            <select id="type-{{ num }}" (change)="changeTypeDie($event.target.value, i)">
              <option value="4">D4</option>
              <option value="6">D6</option>
              <option value="8">D8</option>
              <option value="10">D10</option>
              <option value="12">D12</option>
              <option value="20">D20</option>
              <option value="100">D100</option>
            </select>
          </div>
          <div>
            <button (click)="roll()" class="btn btn-primary">Roll</button>
          </div>
          <h5>Result: {{ result }}</h5>
        </div>
        <div class="modal-footer">
          <button (click)="resetResult()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>