<form class="form-inline">
  <div class="form-group mb-2">
        <select (change)="filterMonsters(cr.value, type.value, alignment.value, size.value, name.value)" #type type="text" readonly class="form-control-plaintext" id="staticEmail2">
            <option value="">Select type</option>
            <option value="Aberration">Aberration</option>
            <option value="Beast">Beast</option>
            <option value="Celestial">Celestial</option>
            <option value="Construct">Construct</option>
            <option value="Dragon">Dragon</option>
            <option value="Elemental">Elemental</option>
            <option value="Fey">Fey</option>
            <option value="Fiend">Fiend</option>
            <option value="Giant">Giant</option>
            <option value="Humanoid">Humanoid</option>
            <option value="Monstrosity">Monstrosity</option>
            <option value="Ooze">Ooze</option>
            <option value="Plant">Plant</option>
            <option value="Undead">Undead</option>
        </select>
      </div>
  <div class="form-group mb-2">
        <select (change)="filterMonsters(cr.value, type.value, alignment.value, size.value, name.value)" class="form-control-plaintext" #cr  id="inputPassword2" value=0>
            <option value="">CR</option>
            <option value="0">0</option>
            <option value="1/8">1/8</option>
            <option value="1/4">1/4</option>
            <option value="1/2">1/2</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
        </select>
      </div>
      <div class="form-group mb-2">
        <select (change)="filterMonsters(cr.value, type.value, alignment.value, size.value, name.value)" class="form-control-plaintext" #alignment id="alignment">
            <option value="">Select alignment</option>
            <option value="unaligned">Unaligned</option>
            <option value="lawful good">LG</option>
            <option value="neutral good">NG</option>
            <option value="chaotic good">CG</option>
            <option value="lawful neutral">LN</option>
            <option value="neutral">N</option>
            <option value="chaotic neutral">CN</option>
            <option value="lawful evil">LE</option>
            <option value="neutral evil">NE</option>
            <option value="chaotic evil">CE</option>
        </select>
      </div>
      <div class="form-group mb-2">
        <select (change)="filterMonsters(cr.value, type.value, alignment.value, size.value, name.value)" class="form-control-plaintext" #size id="size">
            <option value="">Size</option>
            <option value="Tiny">Tiny</option>
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
            <option value="Huge">Huge</option>
            <option value="Gargantuan">Gargantuan</option>
        </select>
      </div>
      <div class="form-group mb-2">
            <input (change)="filterMonsters(cr.value, type.value, alignment.value, size.value, name.value)" class="form-control-plaintext" #name placeholder="Name">
          </div>
    <button (click)="cr.value = ''; type.value = ''; alignment.value = ''; size.value = ''; name.value = ''; 
    filterMonsters(cr.value, type.value, alignment.value, size.value, name.value)" type="button" class="btn btn-primary mb-2">Reset Filters</button>
    
</form>
<div class="container">
    <div *ngFor="let i of getIndexes();">
            <div *ngIf="i%3 == 0">
                <div *ngIf="filtered[i]" class="row">
                    <div class="col-sm">
                        <monster-panel [monster]="filtered[i]"></monster-panel>
                    </div>
                    <div *ngIf="filtered[i+1]" class="col-sm">
                        <monster-panel [monster]="filtered[i+1]"></monster-panel>
                    </div>
                    <div *ngIf="filtered[i+2]" class="col-sm">
                        <monster-panel [monster]="filtered[i+2]"></monster-panel>
                    </div>
                </div> 
            </div>
        </div>
    </div>
  
