<form>
    <div class="form-row">
      <div class="form-group col-md-4">
          <label for="monsterName">Name</label>
          <input #name class="form-control" id="monsterName" aria-describedby="emailHelp" placeholder="Name">
      </div>
      <div class="form-group col-md-2">
          <label for="type">Type</label>
          <select #type class="form-control" id="type" aria-describedby="emailHelp" placeholder="Name">
              <option value="">Select type</option>
              <option value="Aberration">Aberration</option>
              <option value="Beast">Beast</option>
              <option value="Celestial">Celestial</option>
              <option value="Construct">Construct</option>
              <option value="Dragon">Dragon</option>
              <option value="Elemental">Elemental</option>
              <option value="Fey">Fey</option>
              <option value="Fiend">Fiend</option>
              <option value="Giant">Giant</option>
              <option value="Humanoid">Humanoid</option>
              <option value="Monstrosity">Monstrosity</option>
              <option value="Ooze">Ooze</option>
              <option value="Plant">Plant</option>
              <option value="Undead">Undead</option>
          </select>
      </div>
      <div class="form-group col-md-1">
          <label for="cr">CR</label>
          <select  #cr class="form-control" id="cr" aria-describedby="emailHelp">
              <option value="">CR</option>
              <option value="0">0</option>
              <option value="1/8">1/8</option>
              <option value="1/4">1/4</option>
              <option value="1/2">1/2</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
          </select>
      </div>
      <div class="form-group col-md-1">
          <label for="align">Alignment</label>
          <select type="text" #align class="form-control" id="align" aria-describedby="emailHelp" value="True nuetral">
              <option value="">Select alignment</option>
              <option value="unaligned">Unaligned</option>
              <option value="lawful good">LG</option>
              <option value="neutral good">NG</option>
              <option value="chaotic good">CG</option>
              <option value="lawful neutral">LN</option>
              <option value="neutral">N</option>
              <option value="chaotic neutral">CN</option>
              <option value="lawful evil">LE</option>
              <option value="neutral evil">NE</option>
              <option value="chaotic evil">CE</option>
          </select>
      </div>
      <div class="form-group col-md-1">
          <label for="size">Size</label>
          <select type="text" #size class="form-control" id="size" aria-describedby="emailHelp" value="Medium">
              <option value="">Size</option>
              <option value="Tiny">Tiny</option>
              <option value="Small">Small</option>
              <option value="Medium">Medium</option>
              <option value="Large">Large</option>
              <option value="Huge">Huge</option>
              <option value="Gargantuan">Gargantuan</option>
          </select>
      </div>
      <div class="form-group col-md-1">
          <label for="hp">Hit Pionts</label>
          <input type="number" #hp class="form-control" id="hp" aria-describedby="emailHelp">
      </div>
      <div class="form-group col-md-1">
          <label for="init">Inititive Bonus</label>
          <input type="number" #init class="form-control" id="init" aria-describedby="emailHelp">
      </div>
    </div>
    <h2>Stats</h2>
    <div class="form-row">
    <div class="form-group col-md-4">
      <label for="str">STR</label>
      <input (change)="saveStat('str', str.value)" #str type="number" class="form-control" id="str">
    </div>
    <div class="form-group col-md-4">
      <label  for="strSave">STR saving throw bonus</label>
      <input #strbonus (change)="saveStat('strBonus', strbonus.value)"  class="form-control" type="number" id="strSave">
    </div>
    <div class="form-group col-md-2">
        <label for="strmod">STR mod:</label>
        <input disabled="disabled" type="number" class="form-control-plaintext" readonly value="{{ getStatMod('str') }}" id="strmod"/>
    </div>
    <div class="form-group col-md-2">
        <label for="strSave">STR Save:</label>
        <input disabled="disabled" type="number" class="form-control-plaintext" readonly value="{{ getSave('str') }}" id="strSave"/>
    </div>
  </div>
  <div class="form-row">
        <div class="form-group col-md-4">
          <label for="dex">DEX</label>
          <input (change)="saveStat('dex', dex.value)" #dex type="number" class="form-control" id="dex">
        </div>
        <div class="form-group col-md-4">
          <label  for="dexSave">DEX saving throw bonus</label>
          <input #dexbonus (change)="saveStat('dexBonus', dexbonus.value)" class="form-control" type="number" id="dexSave">
        </div>
        <div class="form-group col-md-2">
            <label for="dexmod">DEX mod:</label>
            <input disabled="disabled" type="number" class="form-control-plaintext" readonly value="{{ getStatMod('dex') }}" id="dexmod"/>
        </div>
        <div class="form-group col-md-2">
                <label for="dexSave">DEX Save:</label>
                <input disabled="disabled" type="number" class="form-control-plaintext" readonly value="{{ getSave('dex') }}" id="dexSave"/>
            </div>
      </div>
      <div class="form-row">
            <div class="form-group col-md-4">
              <label for="con">CON</label>
              <input (change)="saveStat('con', con.value)" #con type="number" class="form-control" id="con">
            </div>
            <div class="form-group col-md-4">
              <label  for="conSave">CON saving throw bonus</label>
              <input #conbonus (change)="saveStat('conBonus', conbonus.value)" class="form-control" type="number" id="conSave">
            </div>
            <div class="form-group col-md-2">
                <label for="dexmod">CON mod:</label>
                <input disabled="disabled" type="number" class="form-control-plaintext" readonly value="{{ getStatMod('con') }}" id="dexmod"/>
            </div>
            <div class="form-group col-md-2">
                    <label for="conSave">CON Save:</label>
                    <input disabled="disabled" type="number" class="form-control-plaintext" readonly value="{{ getSave('con') }}" id="conSave"/>
                </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="int">INT</label>
              <input (change)="saveStat('int', int.value)" #int type="number" class="form-control" id="int">
            </div>
            <div class="form-group col-md-4">
              <label  for="intSave">INT saving throw bonus</label>
              <input #intbonus (change)="saveStat('intBonus', intbonus.value)" class="form-control" type="number" id="intSave">
            </div>
            <div class="form-group col-md-2">
                <label for="dexmod">INT mod:</label>
                <input disabled="disabled" type="number" class="form-control-plaintext" readonly value="{{ getStatMod('int') }}" id="dexmod"/>
            </div>
            <div class="form-group col-md-2">
                    <label for="intSave">INT Save:</label>
                    <input disabled="disabled" type="number" class="form-control-plaintext" readonly value="{{ getSave('int') }}" id="intSave"/>
                </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="wis">WIS</label>
              <input (change)="saveStat('wis', wis.value)" #wis type="number" class="form-control" id="wis">
            </div>
            <div class="form-group col-md-4">
              <label  for="wisSave">WIS saving throw bonus</label>
              <input #wisbonus (change)="saveStat('wisBonus', wisbonus.value)" class="form-control" type="number" id="wisSave">
            </div>
            <div class="form-group col-md-2">
                <label for="wismod">WIS mod:</label>
                <input disabled="disabled" type="number" class="form-control-plaintext" readonly value="{{ getStatMod('wis') }}" id="wismod"/>
            </div>
            <div class="form-group col-md-2">
                    <label for="wisSave">WIS Save:</label>
                    <input disabled="disabled" type="number" class="form-control-plaintext" readonly value="{{ getSave('wis') }}" id="wisSave"/>
                </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="cha">CHA</label>
              <input (change)="saveStat('cha', cha.value)" #cha type="number" class="form-control" id="cha">
            </div>
            <div class="form-group col-md-4">
              <label  for="chaSave">CHA saving throw bonus</label>
              <input #chabonus (change)="saveStat('chaBonus', chabonus.value)" class="form-control" type="number" id="chaSave">
            </div>
            <div class="form-group col-md-2">
                <label for="chamod">CHA mod:</label>
                <input disabled="disabled" type="number" class="form-control-plaintext" readonly value="{{ getStatMod('cha') }}" id="chamod"/>
            </div>
            <div class="form-group col-md-2">
                    <label for="chaSave">CHA Save:</label>
                    <input disabled="disabled" type="number" class="form-control-plaintext" readonly value="{{ getSave('cha') }}" id="chaSave"/>
                </div>
          </div>
  <h2>Speeds</h2>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="walk">Ground</label>
      <input #walk type="number" class="form-control" id="walk" value=30>
    </div>
    <div class="form-group col-md-2">
      <label for="swim">Swim</label>
      <input #swim type="number" class="form-control" id="swim" value=0>
    </div>
    <div class="form-group col-md-2">
      <label for="burow">Burow</label>
      <input #burow type="number" class="form-control" id="burow" value=0>
    </div>
    <div class="form-group col-md-2">
      <label for="climb">Climb</label>
      <input #climb type="number" class="form-control" id="climb" value=0>
    </div>
    <div class="form-group col-md-2">
      <label for="fly">Fly</label>
      <input #fly type="number" class="form-control" id="fly" value=0>
    </div>
  </div>
  <hr>
  <h2>Armour</h2>
  <div class="form-row">
      <div class="form-group col-md-2">
        <label for="acBonus">AC Bonus</label>
        <input #acBonus (click)="saveStat('acBonus', acBonus.value)" type="number" class="form-control" id="acBonus" value=0>
      </div>
      <div class="form-group col-md-2">
          <label for="ac">Armour Class</label>
          <input disabled="disabled" type="number" class="form-control-plaintext" readonly value="{{ calcAc() }}" id="chaSave"/>
      </div>
</div>
<hr>
<h2> Damage Vulnerabilities</h2>
  <div *ngFor="let vul of Vulnerabilities, let i = index" class="form-group col-md-2">
      <label for="vun{{ i }}">Vulnerability</label>
      <input #vun (change)="saveElement(i, vun.value, 'vun')"  placeholder="Radiant" class="form-control-plaintext" id="vun{{ i }}"/>
  </div>
  <button (click)="Vulnerabilities.push('')" type="button" class="btn btn-primary">Add Damage Vulnerability</button>
  <hr>
  <h2>Damage Resistances</h2>
  <div *ngFor="let vul of resistances, let i = index" class="form-group col-md-2">
      <label for="vun{{ i }}">Resistance</label>
      <input (change)="saveElement(i, $event.target.value, 'res')"  placeholder="Radiant" class="form-control-plaintext" id="vun{{ i }}"/>
  </div>
  <button (click)="resistances.push('')" type="button" class="btn btn-primary">Add Resistance</button>
  <hr>
  <h2>Damage Immunities</h2>
  <div *ngFor="let vul of damImmunities, let i = index" class="form-group col-md-2">
      <label for="vun{{ i }}">Immunity</label>
      <input (change)="saveElement(i, $event.target.value, 'damIm')"  placeholder="Radiant" class="form-control-plaintext" id="vun{{ i }}"/>
  </div>
  <button (click)="damImmunities.push('')" type="button" class="btn btn-primary">Add Damage Immunity</button>
  <hr>
  <h2>Condition Immunities</h2>
  <div *ngFor="let vul of conditionImmunities, let i = index" class="form-group col-md-2">
      <label for="vun{{ i }}">Condition</label>
      <input (change)="saveElement(i, $event.target.value, 'conIms')"  placeholder="Radiant" class="form-control-plaintext" id="vun{{ i }}"/>
  </div>
  <button (click)="conditionImmunities.push('')" type="button" class="btn btn-primary">Add Condition Immunity</button>
  <hr>
  <h2>Skills</h2>
  <div *ngFor="let vul of skills, let i = index" class="form-row">
    <div class="form-group col-md-2">
        <select (change)="saveElement(i, $event.target.value, 'skillName')"  placeholder="Radiant" class="form-control-plaintext" id="skill{{ i }}">
            <option value="">Skill</option>
            <option value="Athletics">Athletics</option>
            <option value="Acrobatics">Acrobatics</option>
            <option value="Sleight of Hand">Sleight of Hand</option>
            <option value="Stealth">Stealth</option>
            <option value="Arcana">Arcana</option>
            <option value="History">History</option>
            <option value="Investigation">Investigation</option>
            <option value="Nature">Nature</option>
            <option value="Religion">Religion</option>
            <option value="Animal Handling">Animal Handling</option>
            <option value="Insight">Insight</option>
            <option value="Medicine">medicine</option>
            <option value="Perception">Perception</option>
            <option value="Survival">Survival</option>
            <option value="Deception">Deception</option>
            <option value="Intimidation">Intimidation</option>
            <option value="Performance">Performance</option>
            <option value="Persuasion">Persuasion</option>
        </select>
    </div>
    <div class="form-group col-md-2">
        <input (change)="saveElement(i, $event.target.value, 'skillBonus')" type="number" class="form-control" id="bonus{{ i }}" value=0 placeholder="Bonus">
    </div>
  </div>
  <button (click)="skills.push('')" type="button" class="btn btn-primary">Add Skill</button>
  <hr>
  <h2>Actions</h2>
  <div *ngFor="let vul of act, let i = index">
      <h4>Action {{ i + 1 }} </h4>
      <div class="form-row">
          <div class="form-group col-md-4">
              <label for="name{{ i }}">Action Name</label>
              <input (change)="saveElement(i, $event.target.value, 'actName')" id="name{{ i }}" class="form-control" aria-describedby="emailHelp" placeholder="Kobald">
          </div>
          <div class="form-group col-md-1">
              <label for="attackBonus{{ i }}">Attack Bonus</label>
              <input (change)="saveElement(i, $event.target.value, 'actAttBonus')" type="number" id="attackBonus{{ i }}" class="form-control" value="0">
          </div>
          <div class="form-group col-md-1">
              <label for="bonus{{ i }}">Damage Bonus</label>
              <input (change)="saveElement(i, $event.target.value, 'actDamBonus')" type="number" id="bonus{{ i }}" class="form-control" value="0">
          </div>
          <div class="form-group col-md-1">
              <label for="diceNum{{ i }}">Number of dice</label>
              <input (change)="dienum[i] = $event.target.value;saveElement(i, $event.target.value, 'actDie')" type="number" id="diceNum{{ i }}" class="form-control" value="0">
          </div>
          <div class="form-group col-md-1">
              <label for="dice{{ i }}">Damage Dice</label>
              <select (change)="dieType[i] = $event.target.value;saveElement(i, $event.target.value, 'actDie')" class="form-control" id="dice{{ i }}">
                  <option value="">Die</option>
                  <option value="D4">D4</option>
                  <option value="D6">D6</option>
                  <option value="D8">D8</option>
                  <option value="D10">D10</option>
                  <option value="D12">D12</option>
              </select>
          </div>
      </div>
      <div class="form-group">
        <label for="description{{ i }}">Description</label>
        <textarea (change)="saveElement(i, $event.target.value, 'actDesc')" class="form-control" id="description{{ i }}"></textarea>
      </div>
  </div>
  <button (click)="act.push('')" type="button" class="btn btn-primary">Add Action</button>
  <hr>
  <h2>Abilities</h2>
  <div *ngFor="let vul of able, let i = index">
      <h4>Ability {{ i + 1 }} </h4>
      <div class="form-row">
        <div class="form-group col-md-4">
            <label for="abName{{ i }}">Ability Name</label>
            <input (change)="saveElement(i, $event.target.value, 'abName')" id="abName{{ i }}" class="form-control" aria-describedby="emailHelp" placeholder="Kobald">
        </div>
        <div class="form-group col-md-1">
            <label for="attackBonus{{ i }}">Bonus</label>
            <input (change)="saveElement(i, $event.target.value, 'abBonus')" type="number" id="attackBonus{{ i }}" class="form-control" value="0">
        </div>
      </div>
      <div class="form-group">
          <label for="abDescription{{ i }}">Description</label>
          <textarea (change)="saveElement(i, $event.target.value, 'abDesc')" class="form-control" id="abDescription{{ i }}"></textarea>
        </div>
  </div>
  <button (click)="able.push('')" type="button" class="btn btn-primary">Add Ability</button>
  <hr>
  <h2>Legendary Actions</h2>
  <div *ngFor="let vul of leg, let i = index">
      <h4>Action {{ i + 1 }} </h4>
      <div class="form-row">
          <div class="form-group col-md-4">
              <label for="name{{ i }}">Action Name</label>
              <input (change)="saveElement(i, $event.target.value, 'legActName')" id="name{{ i }}" class="form-control" aria-describedby="emailHelp" placeholder="Kobald">
          </div>
          <div class="form-group col-md-1">
              <label for="attackBonus{{ i }}">Attack Bonus</label>
              <input (change)="saveElement(i, $event.target.value, 'legActBonus')" type="number" id="attackBonus{{ i }}" class="form-control" value="0">
          </div>
          <div class="form-group col-md-1">
              <label for="bonus{{ i }}">Damage Bonus</label>
              <input (change)="saveElement(i, $event.target.value, 'legActDamBonus')" type="number" id="bonus{{ i }}" class="form-control" value="0">
          </div>
          <div class="form-group col-md-1">
              <label for="diceNum{{ i }}">Number of dice</label>
              <input (change)="dienum[i] = $event.target.value;saveElement(i, $event.target.value, 'legActDie')" type="number" id="diceNum{{ i }}" class="form-control" value="0">
          </div>
          <div class="form-group col-md-1">
              <label for="dice{{ i }}">Damage Dice</label>
              <select (change)="dieType[i] = $event.target.value;saveElement(i, $event.target.value, 'legActDie')" class="form-control" id="dice{{ i }}">
                  <option value="">Die</option>
                  <option value="D4">D4</option>
                  <option value="D6">D6</option>
                  <option value="D8">D8</option>
                  <option value="D10">D10</option>
                  <option value="D12">D12</option>
              </select>
          </div>
      </div>
      <div class="form-group">
        <label for="description{{ i }}">Description</label>
        <textarea (change)="saveElement(i, $event.target.value, 'legActDesc')" class="form-control" id="description{{ i }}"></textarea>
      </div>
  </div>
  <button (click)="leg.push('')" type="button" class="btn btn-primary">Add Action</button>
  <button (click)="createMonster(name.value, type.value, init.value, hp.value, cr.value, align.value, size.value, [walk.value + 'ft', 'Swim: ' + swim.value + 'ft', 'Burow: ' + burow.value + 'ft', 'Climb: ' + climb.value + 'ft', 'Fly: ' + fly.value + 'ft'])" class="btn btn-primary btn-lg btn-block" type="button">Create Monster</button>
</form>
