<h2>Encounter: {{ enc.name }}</h2>
<div>
  <h3>Notes: </h3>
  <p>{{ enc.note }}</p>
</div>
<div class="container">
    <div class="row">
        <div  [ngStyle]="{'border-color':curr === j ? 'red' : 'black' }" *ngFor="let dude of order; let j = index" class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ dude['name'] }}</h5>
                <div *ngIf="dude['id']">
                    AC: {{ order[j].armor_class }}
                    <hr>
                    Max HP: {{  order[j].hit_points }}
                    <br>
                    <div [ngStyle]="{'color': order[j].currHealth/order[j].hit_points > .75  ? 'green' :  order[j].currHealth/order[j].hit_points > .5 ? 'orange' : order[j].currHealth/order[j].hit_points > .25 ? '#a8b000' : 'red' }">
                        Current HP: {{ order[j].currHealth }}
                    </div>
                    <button (click)="target = j" data-toggle="modal" data-target="#adjusthealthModal" class="btn btn-primary">Adjust health</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <button (click)="next()" class="btn btn-primary">Next Turn</button>
    <h3>Current turn: {{ order[curr].name }}</h3>
    <hr>
    <div *ngIf="monsterPanel">
        <app-encounter-monster-panel [monster]="order[curr]"></app-encounter-monster-panel>
    </div>
</div>

<button data-toggle="modal" data-target="#setInitiativeModal" id="setInitiative" class="btn btn-primary">Set Initiative</button>

  <!-- Modal -->
  <div class="modal fade" id="setInitiativeModal" tabindex="-1" role="dialog" aria-labelledby="setInitiativeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Set Initiative</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div>
                <h3>Players</h3>
                <div *ngFor="let player of enc.players; let i = index" class="form-group">
                    <label>{{ player.name }}</label>
                    <input (change)="setPlayerInitiative(i, $event.target.value)" class="form-control" type="number">
                </div>
                <h3>Monsters</h3>
                <div *ngFor="let monster of myMonsters; let i = index" class="form-group">
                    <div *ngIf="monster.currHealth >= 0">
                      <label>{{ monster.name }} Dex Bonus: {{ calcMod(monster.dexterity) }}</label>
                      <input (change)="setMonsterInitiative(i, $event.target.value)" class="form-control" type="number">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" (click)="createOrder()" type="button" class="btn btn-primary">Save Initiative</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="adjusthealthModal" tabindex="-1" role="dialog" aria-labelledby="adjusthealthModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Adjust Health</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <label for="adjust">Amount</label>
                <input id="amount" #healtAdjust type="number">
            </div>
            <div class="modal-footer">
              <button style="background-color: green" data-dismiss="modal" (click)="adjust(healtAdjust.value, 1)" type="button" class="btn btn-primary">Heal</button>
              <button style="background-color: red" data-dismiss="modal" (click)="adjust(healtAdjust.value, -1)" type="button" class="btn btn-primary">Damage</button>
            </div>
          </div>
        </div>
      </div>